<div class="col-md-2" style="text-align:left">
<a href="page d'accueil.html" class="accueil" >Accueil</a>  <div class="salon">Salon</div><div class="console">Console</div>
</div>
<div class="container col-md-6">
    
<div class="albatre">Albâtre</div>
<div class="container">
    <div class="pic331"></div>
<div class="pic55"></div>
<div class="pic44"></div>
<div class="pic22"></div>

</div>
<div class="group">
    <div class="dashiconsStarFilled"></div>
      <div class="dashiconsStarFilled2"></div>
      <div class="dashiconsStarFilled3"></div>
      <div class="dashiconsStarFilled4"></div>
      <div class="dashiconsStarFilled5"></div>
    </div>
    <div class="line6"><img src="Line 6.png" alt="" class="icon3" /></div><div class="avis2">Avis</div>
    <div class="consolePlianteEnTeinteDeBois10">
      <div class="textBlock3">Console pliante en teinte de bois 100x40 cm</div>
      <div class="textBlock4"><p></p></div>
      <div class="textBlock5">
        <p class="labelWrapper"><span class="label">En Stock</span></p>
      </div>
      <div class="textBlock6"><p class="labelWrapper2"></p></div>
      <div class="textBlock7"><p></p></div>
      <div class="textBlock8"><p></p></div>
    </div>
    <div class="container">
    
    <div class="group">
        <div class="dimensions">dimensions : </div><select class="rectangle414">
            <option value="100x40" selected>100 x 40</option>
            <option value="other-dimension">Autre dimension</option>
          </select>
        </div>
    </div>
        <div class="group col-md-4 d-flex">
        <button class="rectangle12"></button>
        <div class="ajouterAuPanier">Ajouter Au Panier</div>
          </div>
          <div class="container">
          <div class="couleurs">Couleurs :</div>
          <div class="rectangle45"></div>
          <button class="unnamed3" (click)="decrementValue()">-</button>
          <button class="unnamed4" (click)="incrementValue()">+</button>
          <div class="_1">1</div>
        </div>
   
    <div class="prix">Prix :</div>
    <div class="line7"></div>
    <div class="colorBoisNaturel1"></div>
    <div class="paletteColorBois1"></div>
    
    <button class="rectangle415"></button>
    <div class="selectionner">Sélectionner</div>
    <div class="check11"></div>
    <div class="pic111"></div>
    <div class="deliveryTruck_2769339"></div>
    <div class="livraisonRapide">Livraison Rapide</div>
    <div class="paiementSecurise">Paiement sécurisé :</div>
    <div class="visa"></div>
    <div class="mastercard"></div>
</div>



<div class="rectangle283"></div>
<div class="rectangle333"></div>
<div class="rectangle334"></div>
<div class="rectangle335"></div>
<div class="produitsDeQualite">Produits de qualité</div>
<div class="garantie1"></div>
<div class="deliveryTruck_27693392"></div>
<div class="satisfaction"></div>
<div class="livraisonFiableEtRapide">Livraison fiable et rapide</div>
<div class="lesMeilleursPrix">Les meilleurs prix</div>
<div class="servicesDeQualite">Services de qualité</div>
<div class="_16111731"></div>
<div class="livraisonEtExpedition">Livraison et Expedition</div>
<img src="delivery.png">
<div class="garantieDeRetour">Garantie de retour</div>
<div class="satisfactionGarantie">Satisfaction Garantie</div>
<div class="reduction">Réduction</div>
<div class="rectangle6"></div>
<div class="rectangle344"></div>
<div class="rectangle388"></div>
<div class="enStock">En stock</div>
<div class="ellipse38">
</div>

<div class="description">Description</div>
<div class="informationsTechniques">Informations techniques</div>
<div class="avis" style="text-align:right">Avis</div>

<div class="pic2"></div>
<div class="pic1"></div>
<div class="tableConsoleEnCheneMassifFinit">
  <div class="textBlock" style="font-family:Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  'Liberation Sans', sans-serif;">
    Table console en chêne massif. Finition naturelle. Cette jolie table extensible ou console pliante est une merveille d'ingéniosité : dans une entrée, un salon ou une salle à manger, cette console se transforme en table accueillant 4 personnes grâce à son abattant rétractable.
L'ouverture est fluide et facile grâce aux coulisses en aluminium qui se manient avec aisance et le plateau dédoublé se rabat sans peine sur la structure étendue.
  </div>
</div>
















<div class="produitsAimeParNosClients" style="text-align:center">Produits aimé par nos clients</div>
<div class="rectangle342"></div>
<div class="_40DT">40 DT</div>
<div class="prix2">Prix :</div>
<div class="rectangle343"></div>
<div class="_40DT2">40 DT</div>
<div class="prix3">Prix :</div>
<div class="_55DT">55 DT</div>
<div class="prix4">Prix :</div>
<div class="dashiconsStarFilled6">
  <img src="assets/dashicons-star-filled-icon6.svg" alt="" class="icon10" />
</div>
<div class="dashiconsStarFilled7">
  <img src="assets/dashicons-star-filled-icon7.svg" alt="" class="icon11" />
</div>
<div class="dashiconsStarFilled8">
  <img src="assets/dashicons-star-filled-icon8.svg" alt="" class="icon12" />
</div>
<div class="dashiconsStarFilled9">
  <img src="assets/dashicons-star-filled-icon9.svg" alt="" class="icon13" />
</div>
<div class="dashiconsStarFilled10">
  <img src="assets/dashicons-star-filled-icon10.svg" alt="" class="icon14" />
</div>
<div class="frame157"></div>
<div class="tableAvecUnEtagere">Table avec un étagère</div>
<div class="tableauDecoratifPourSalon">Tableau décoratif pour salon</div>
<div class="rectangle389"></div>
<div class="enStock2">En stock</div>
<div class="ellipse39"></div>
<div class="swipeLeft"></div>
<div class="frame158"></div>
<div class="dashiconsStarFilled11">
  <img src="assets/dashicons-star-filled-icon11.svg" alt="" class="icon18" />
</div>
<div class="dashiconsStarFilled12">
  <img src="assets/dashicons-star-filled-icon12.svg" alt="" class="icon19" />
</div>
<div class="dashiconsStarFilled13">
  <img src="assets/dashicons-star-filled-icon13.svg" alt="" class="icon20" />
</div>
<div class="dashiconsStarFilled14">
  <img src="assets/dashicons-star-filled-icon14.svg" alt="" class="icon21" />
</div>
<div class="dashiconsStarFilled15">
  <img src="assets/dashicons-star-filled-icon15.svg" alt="" class="icon22" />
</div>
<div class="liserier">
  <img src="assets/liserier-icon.svg" alt="" class="icon23" />
</div>
<div class="snack"></div>
<div class="tableBasseCarreeEnNoyerAvecTab"></div>
<div class="tableBasseCarre">Table Basse carré</div>
<div class="lisere">Liseré</div>
<div class="rectangle3422"></div>
<div class="_55DT2">55 DT</div>
<div class="dashiconsStarFilled16">
  <img src="assets/dashicons-star-filled-icon16.svg" alt="" class="icon24" />
</div>
<div class="dashiconsStarFilled17">
  <img src="assets/dashicons-star-filled-icon17.svg" alt="" class="icon25" />
</div>
<div class="dashiconsStarFilled18">
  <img src="assets/dashicons-star-filled-icon18.svg" alt="" class="icon26" />
</div>
<div class="dashiconsStarFilled19">
  <img src="assets/dashicons-star-filled-icon19.svg" alt="" class="icon27" />
</div>
<div class="dashiconsStarFilled20">
  <img src="assets/dashicons-star-filled-icon20.svg" alt="" class="icon28" />
</div>
<div class="tableAvecUnEtagere2">Table avec un étagère</div>
<div class="rectangle3892"></div>
<div class="enStock3">En stock</div>
<div class="ellipse392">
  <img src="assets/ellipse-39-icon2.svg" alt="" class="icon29" />
</div>
<div class="lisere2">Liseré</div>
<div class="snack2">Snack</div>
<div class="dashiconsStarFilled21">
  <img src="assets/dashicons-star-filled-icon21.svg" alt="" class="icon30" />
</div>
<div class="dashiconsStarFilled22">
  <img src="assets/dashicons-star-filled-icon22.svg" alt="" class="icon31" />
</div>
<div class="dashiconsStarFilled23">
  <img src="assets/dashicons-star-filled-icon23.svg" alt="" class="icon32" />
</div>
<div class="dashiconsStarFilled24">
  <img src="assets/dashicons-star-filled-icon24.svg" alt="" class="icon33" />
</div>
<div class="dashiconsStarFilled25">
  <img src="assets/dashicons-star-filled-icon25.svg" alt="" class="icon34" />
</div>
<div class="tableauEnBoisRouge">Tableau en bois rouge</div>
<div class="rectangle3882"></div>
<div class="enStock4">En stock</div>
<div class="ellipse382">
  <img src="assets/ellipse-38-icon2.svg" alt="" class="icon35" />
</div>

<div class="bbf24f0b58fc6cf48a7c8b14f1fd6d"></div>
<div class="prix5">Prix :</div>
<div class="vector">
</div>




