<div class="rectangle339"></div>
<div class="disponibleDeLundiAVendredi9hA1">Disponible de Lundi à Vendredi : 9h à 17h</div>
<div class="vector3Stroke"><img src="../upheader/Vector 3 (Stroke).png" alt="" class="icon" /></div>
<li><a href=""><i class="contactezNous">contactez-nous</i></a></li>
<li><a href=""><i class="suiviCommande">Suivi commande</i></a></li>
<li><a href=""><i class="inscrivezVous">Inscrivez-vous</i></a></li>
<div class="_10PourVotrePremierAchat">-10% pour votre premier achat</div>

