<div class="rectangle338" > </div>
<li><a href=""><i class="pROMOTION">PROMOTION</i></a></li>
<li><a href=""><i class="bLOG">BLOG</i></a></li>
<li> <a href=""><i class="pERSONNALISER">PERSONNALISER</i></a></li>
<div class="rechercher"></div>
<div class="shoppingCart1"></div>
<div class="utilisateur2"></div>
<div class="heart"></div>
<li><a href=""><i class="logo"></i></a></li> 
<div class="ellipse61"></div>
<div class="unnamed">0</div>
<li><a href=""><i class="cATALOGUE" style=>CATALOGUE</i></a></li>
<div class="icone2"><img src="Vector.png" style="text-align:right" id="img" /></div>
