<div class="container col-md-4">
      <section class="px-6 mx-6 d-flex">
        <span class="se-connecter" style ="text-align: justify;">Se Connecter</span>
      </section>
      <br>
<form>
<div class="group">
    <div class="nom-utilisateur">Nom utilisateur * </div>
    <input  id="rectangle" type="text" class="form-control">
</div>                                                           
    <br>
    <div class="group">
      <div class="mot-de-passe-champ col-md-4">
        <span class="mot-de-passe">Mot de passe *</span>
        <input id="rectangle-2" type="password" class="form-control">
      </div>
    </div>
    <span class="mot-de-passe-oublier">Mot de Passe oublier ?</span>
    <button class="bouton-se-connecter">
      <span class="seconnecter">Se Connecter</span>
      <div class="rectangle-4"></div>
    </button>
    <button class="bouton-se-connecter-avec-google">
      <div class="rectangle-5"></div>
      <div class="google-icone"></div>
      <span class="se-connecter-avec-google">Se connecter avec Google</span>
    </button>
    <div class="vous-n-avez-pas-connecter">
      <div class="vous-n-avez-pas-de-compte">
        <span class="motdepasse">Vous n'avez pas de compte ?</span>
        <span class="inscrivez-vous-gratuitement-6">Inscrivez-vous gratuitement</span>
      </div>
    </div>
  </form>
</div>

  